@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  line-height: 1.5;
}
h2 {
  color: black;
}

#previewerContainer {
  min-height: 40vh;
}

body {
  background-color: darkgreen;
  background-image: url("matrix-356024_640.jpg");
}

#previewerContainer,
textarea,
#textareaContainer {
  color: black;
  background-color: green;
  border-color: black;
}

header {
  background-color: black;
  color: greenyellow;
}

#textareaContainer {
  height: 15rem;
}

textarea {
  height: 13rem;
}

#previewerContainer {
  height: 25rem;
}

footer {
  color: white;
}

textarea {
  resize: none;
}
